@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.home{
  font-family: 'Fjalla One', sans-serif;
}
.banner{
  background-color: rgb(48, 47, 47);
  padding: 10px;
}

.LinkStyle{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12;
  justify-content: left;
  text-decoration: none;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

.LinkStyle:hover{
  background-color:black;
  text-decoration: none;
}